body {
    font-family: Arial, sans-serif;
    margin: 40px;
    display: flex; 
    justify-content: space-between;
}

.wallet-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wallet {
    border: 1px solid #ccc;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    flex: 1;
}

.wallet:last-child {
    margin-right: 0;
}

.wallet-address {
    font-weight: bold;
    margin-bottom: 20px;
}

.assets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.asset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex; /* 将这个 asset 设置为 flex 布局 */
    justify-content: space-between; /* 分隔资产名称和价格 */
    align-items: center; /* 垂直居中对齐子元素 */
}

.asset-info {
    font-weight: none;
}

.usd-price {
    color: rgb(0, 0, 0);
}

.token_caniser_id{
    display: none;
}
.token_name{
    font-size: 0.8em;
    color: rgba(67, 67, 67, 0.89);
}